.post {
  width: 100%;
  max-width: 1100px;
  text-align: left;
  padding: 20px;
  margin: 0 auto 20px;

  &:not(:last-of-type) {
    border-bottom: 1px solid var(--border-color);

    :global .dark-theme :local & {
      border-color: var(--border-color);
    }
  }

  @media (--tablet) {
    max-width: 660px;
  }

  h1 {
    margin: 0 0 10px;
  }

  img {
    border-radius: 8px;
  }
}

.title {
  a {
    text-decoration: none;
  }
}

.coverImage {
  border-radius: 10px;
  margin-bottom: 40px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}

.meta {
  font-size: 0.95rem;
  opacity: 0.6;
}

.tags {
  font-size: 0.95rem;
  opacity: 0.6;
}

.tag {
  display: inline-block;
  margin-right: 10px;
}

.tag:hover {
  display: inline-block;
  margin-right: 10px;
  color: var(--color-accent);
}

.readMore {
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  margin: 10px 0;
  font-size: 1rem;
  color: var(--color);
}

.readMore:hover {
  color: var(--color-accent);
}

.postContent {
  position: relative;
}

.postExcerpt {
  margin-top: 2px;
  margin-bottom: 8px;
}

.social {
  margin-left: 0.8rem;
  margin-right: 0.8rem;
}

.imageLeft {
  width: 45%;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;

  @media (--phone) {
    float: none;
    width: 100%;
    margin-right: 0px;
  }
}

.imageRight {
  width: 35%;
  float: right;
  margin-left: 15px;
  margin-bottom: 10px;

  @media (--phone) {
    float: none;
    width: 100%;
    margin-left: 0px;
    margin-bottom: 10px;
  }
}

.imageFull {
  width: 100%;
}

.subscribe {
  text-align: center;
}

.subscribe h2 {
  font-weight: normal;
  margin-top: 20px;
  justify-content: center;
  font-size: 1.625rem;
}

.subbuttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 0px;
  @media (--phone) {
    justify-content: center;
  }
}

.subscribe .subbuttons a {
  width: 32%;
  height: 50px;
  font-size: 1.1rem;
  padding-top: 10px;
  border: 0.1em solid var(--color);
  background-color: var(--color);
  color: var(--background);
  border-radius: 10px;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  transition: all 0.2s;
  margin-bottom: 5px;
  text-decoration: none;

  @media (--phone) {
    width: 100%;
    margin-bottom: 10px;
  }
}

.subscribe .subbuttons a:hover {
  border: 0.1em solid var(--color-accent);
  color: var(--dark-accent);
  background-color: var(--color-accent);
  cursor: pointer;
}

.subscribe a {
  font-size: 0.95rem;
  justify-content: center;
  color: var(--color);
}

.subscribe a:hover {
  color: var(--color-accent);
}

.player {
  background-color: var(--background-accent);
  border-radius: 10px;
  color: var(--background);
  border: 0px dashed var(--background-accent);
  margin-top: 40px;
  padding: 5px 0px 20px 20px;
}

audio {
  width: 95%;
  max-width: 790px;
  margin-top: 8px;
  margin-bottom: 5px;
}

.player audio {
  width: 95%;
  max-width: 1100px;
  margin-top: 8px;
  margin-bottom: 5px;
}

.player h2 {
  font-weight: normal;
  margin-top: 5px;
  font-size: 0.95rem;
}

.player h3 {
  margin-bottom: 0px;
  font-size: 1.625rem;
  margin-top: 0px;
}

.player h3 a {
  text-decoration: none;
}

.home {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.homeImage {
  width: 58%;
  background-color: var(--dark-dark-accent);
  margin-bottom: 20px;
  border-radius: 10px;

  @media (--phone) {
    width: 100%;
    margin-bottom: 10px;
  }
}

.homeText {
  width: 38%;
  margin-bottom: 5px;
  line-height: 3.4rem;
  font-size: 2.5rem;
  font-weight: bold;

  a {
    color: var(--color);
  }

  .aboutLink {
    font-size: 1.2rem;
    font-weight: normal;
    color: var(--color-accent);
  }
  .aboutLink:hover {
    color: var(--color);
  }

  .accent {
    color: var(--color-accent);
  }

  @media (--phone) {
    width: 100%;
    margin-bottom: 10px;
  }
}

.footerNav {
  font-size: 1.1rem;
  margin-bottom: 2px;
  margin-top: 2px;
}

strong {
  color: var(--color-accent);
  font-weight: bold;
}
