.header {
  background: #fafafa;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 20px;

  :global .dark-theme :local & {
    background: var(--dark-dark-dark);
  }

  a {
    text-decoration: none;
  }

  a:hover {
    text-decoration: none;
    color: var(--dark-color);
  }
}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 1060px;
  max-width: 100%;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: bold;

  & img {
    height: 44px;
  }
}

.mark {
  margin-right: 5px;
}

.cursor {
  display: inline-block;
  width: 12px;
  height: 1.2rem;
  background: var(--dark-color-accent);
  margin-left: 5px;
  margin-top: 2px;
  border-radius: 1px;
  animation: cursor 1s infinite;
}

.text,
.mark {
  font-size: 21px;
}

.right {
  display: flex;
  position: relative;
}

@keyframes cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
