:root {
  /* light theme color */

  --background-accent: #66686d;
  --background: #ffffff;
  --color: #252627;
  --color-accent: #fa4242;
  --border-color: #66686d;

  /* --dark-background-secondary: #3b3d42; */
  /* --dark-color-secondary: #73747b; */

  /* variables for js, must be the same as these in @custom-media queries */
  --phoneWidth: (max-width: 684px);
  --tabletWidth: (max-width: 900px);
}

@custom-media --phone (width < 684px);
@custom-media --tablet (width < 900px);
