:root {
  /* light theme color */
  --light-background: #fff;
  --light-background-secondary: #eaeaea;
  --light-color: #222;
  --light-color-secondary: #999;
  --light-border-color: #dcdcdc;

  /* dark theme colors */
  --dark-dark-accent: #252627;
  --dark-background: #3f4146;
  --dark-color: #f5f4f4;
  --dark-color-accent: #fa4242;
  --dark-border-color: #4a4b50;
  /* --dark-background-secondary: #3b3d42; */
  /* --dark-color-secondary: #73747b; */

  /* variables for js, must be the same as these in @custom-media queries */
  --phoneWidth: (max-width: 684px);
  --tabletWidth: (max-width: 900px);
}

@custom-media --phone (width < 684px);
@custom-media --tablet (width < 900px);
